<% include ../partials/header.ejs %>
  <!-- Contact Add/Edit page -->
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h1 class="text-center"><%= title %></h1>
        <div class="d-flex justify-content-center">
          <hr class="border border-dark border-2 opacity-50 w-25">
        </div>

        <form class="form" method="POST">
          <div class="form-group">
            <input type="hidden" name="id" value="<%= contact._id %>" />
          </div>
          <div class="form-group">
            <label for="firstNameTextField">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstNameTextField"
              placeholder="Enter contact first name"
              name="first_name"
              value="<%= contact.firstName %>"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <label for="lastNameTextField">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastNameTextField"
              placeholder="Enter contact last name"
              name="last_name"
              value="<%= contact.lastName %>"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <label for="phoneNumberTextField">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumberTextField"
              placeholder="Enter contact phone number"
              name="phone_number"
              value="<%= contact.phoneNumber %>"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <label for="firstNameTextField">Email</label>
            <input
              type="text"
              class="form-control"
              id="emailTextField"
              placeholder="Enter contact email"
              name="email"
              value="<%= contact.email %>"
              required
            />
          </div>
          <br />
          <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-pen-to-square"></i>
            Submit
          </button>
          <a href="/contacts" class="btn btn-warning">
            <i class="fa-solid fa-rotate-left"></i>
            Cancel
          </a>
          <% if (title == "Edit Contact") { %>
            <a href="/contacts/delete/<%= contact._id %>" class="btn btn-danger">
              <i class="fa-solid fa-trash"></i>
              Delete
            </a>
          <% } %>
        </form>
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
